*{
	box-sizing: border-box;
	-webkit-user-select: none !important;
    user-select:none !important;
}

body, html{
	margin:0;
	padding:0;
}

#home{
	visibility:hidden;
}

.view{
	opacity:0;
	transition:ease .3s all;
	width:100vw;
	height:100vh;
	background-size: cover;
	background-repeat: no-repeat;
	pointer-events:none;
	position:absolute;
	top:0;
	left:0;
	float:left;
	text-align:center;
}

.show{
	opacity:1;
	pointer-events:auto;
}

.center{
	text-align: center;
}