/* MAIN */
/* * {cursor: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-user-drag:none;} */
body{background-size: cover; overflow:hidden; background-repeat: no-repeat; font-family:'Rubik-Light', Arial, Sans-serif, Helvetica; font-weight:300; background-color:#f1f1ec;}
p{margin:0; color:#26313d; font-size:30px;}
h2{font-size:70px; color:#cc0066; font-weight:300; line-height:100%; margin:100px 0 35px 0;}
.st2{fill:#000;}
button{font-size:30px; min-width:210px; border:none; color:#f1f1ec; font-weight:300; font-family:'Rubik-Light', Arial, Sans-serif, Helvetica;  padding:15px 20px 14px 20px; border-radius:45px; margin-top:42px;}
button[data-button="pink"]{background:#cc0066;}
button[data-button="transparent"]{margin: 0; right: 100px; position: absolute; top: 55%; transform: translate(0, -50%); background: transparent; color: #26313d; border: 1px solid #26313d; opacity:1; pointer-events:none; transition:ease .3s all;}
button[data-button="transparent"].visible{background:#cc0066; pointer-events:auto; border:1px solid transparent; color:#f1f1ec;}
:focus {outline:0;}
.hidden{opacity:0;}
.Raam g{fill:#f1f1ec;}
.Korv_nibuga, .Korv_ilma_nibuta{fill: transparent;}
	.Korv_nibuga[selection="true"]{stroke: floralwhite;}
		.Korv_nibuga[selection="true"][color="Light"]{fill: #EFDBCB;}
		.Korv_nibuga[selection="true"][color="Brown"]{fill: #EBAB80;}
		.Korv_nibuga[selection="true"][color="Dark"]{fill: #99562B;}
	.Korv_ilma_nibuta[selection="true"]{stroke: floralwhite; stroke-width: 2px;}
		.Korv_ilma_nibuta[selection="true"][color="Light"]{fill: #EFDBCB;}
		.Korv_ilma_nibuta[selection="true"][color="Brown"]{fill: #EBAB80;}
		.Korv_ilma_nibuta[selection="true"][color="Dark"]{fill: #99562B;}

.Juuksed{fill: transparent;}
	.Juuksed[selection="Blonde"]{fill:#EBCC54;}
	.Juuksed[selection="Red"]{fill:#D76232;}
	.Juuksed[selection="Brown"]{fill:#834A21;}
	.Juuksed[selection="Black"]{fill:#26313D;}

.Lokid{fill: transparent;}
	.Lokid[selection="true"]{fill: #fff;}

.Nahavarv{fill: transparent;}
	.Nahavarv[selection="Light"] path{fill: #EFDBCB;}
	.Nahavarv[selection="Light"] path.st6, .Nahavarv[selection="Light"] path.st7{fill: #ebab80;}
	.Nahavarv[selection="Brown"] path{fill: #ebab80;}
	.Nahavarv[selection="Brown"] path.st6, .Nahavarv[selection="Brown"] path.st7{fill: #834a21;}
	.Nahavarv[selection="Dark"] path{fill: #99562b;}
	.Nahavarv[selection="Dark"] path.st6, .Nahavarv[selection="Dark"] path.st7{fill: #834a21;}

.Tedretapid{fill: transparent;}
	.Tedretapid[selection="true"][color="Light"]{fill:#ebab80;}
	.Tedretapid[selection="true"][color="Brown"]{fill:#834a21;}
	.Tedretapid[selection="true"][color="Dark"]{fill:#834a21;}

.Poselohud{fill: transparent;}
	.Poselohud[selection="true"][color="Light"]{fill:#f3f4f1;}
	.Poselohud[selection="true"][color="Brown"]{fill:#efdbcb;}
	.Poselohud[selection="true"][color="Dark"]{fill:#ebab80;}

.Loualohk{fill: transparent;}
	.Loualohk[selection="true"][color="Light"]{fill:#f3f4f1;}
	.Loualohk[selection="true"][color="Brown"]{fill:#efdbcb;}
	.Loualohk[selection="true"][color="Dark"]{fill:#ebab80;}

.Silmad{fill:transparent;}
	.Silmad[selection="Blue"], .Silmad[selection="Blue"] *{fill:#6AB3CD;}
	.Silmad[selection="Green"], .Silmad[selection="Green"] *{fill:#849851;}
	.Silmad[selection="Brown"], .Silmad[selection="Brown"] *{fill:#5D3B21;}

.Beebi .Sugu[selection="male"]{fill:#93d3db;}
.Beebi .Sugu[selection="female"]{fill:#cc0066;}
.Beebi .Nahavarv[selection="Light"]{fill:#EFDBCB;}
.Beebi .Nahavarv[selection="Brown"]{fill:#EBAB80;}
.Beebi .Nahavarv[selection="Dark"]{fill:#99562B;}
.Beebi .Nina_ja_suu[selection="Dark"]{fill: #834a21;}
.Beebi .Nina_ja_suu[selection="Brown"]{fill: #834a21;}
.Beebi .Nina_ja_suu[selection="Light"]{fill: #ebab80;}

/* FONTS */
@font-face {
	font-family: 'Rubik-Light';
	src: url('../fonts/Rubik-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Rubik-Light.woff') format('woff'), url('../fonts/Rubik-Light.ttf')  format('truetype'), url('../fonts/Rubik-Light.svg#Rubik-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* ELEMENTS */
.languages{position:absolute; top:50%; transform:translate(0%, -50%); left:100px; display:flex; flex-direction:column;}
	.languages div{position:relative; transition:ease .3s all; margin:11px 0; font-size:18px; border:1px solid #26313d; border-radius:50%; width:60px; height:60px;}
		.languages div.active{border:1px solid #cc0066;}
			.languages div span{top: 50%; position: relative; transition:ease .3s all; transform: translate(0, -50%); float: left; width: 100%;}
				.languages div.active span{color:#cc0066;}
.home_btn{position: absolute; top: 120px; left: 100px; width: 60px; height: 60px; border: 1px solid #26313d; border-radius: 50%;}
	.home_btn img{top:50%; position:relative; transform: translate(0, -50%);}
.choice{position:absolute; top:55%; left:100px; display:flex; flex-direction: column; transform:translate(0, -50%);}
	.choice span{min-width: 300px; margin:9px 0; border: 1px solid #26313d; color: #26313d; border-radius: 45px; padding: 15px 20px 14px 20px; font-size: 30px;}
		.choice span.selected{border:1px solid #cc0066; color:#cc0066;}
#person_image_container{pointer-events:none; transition:ease .3s all; position:absolute; top:110px; bottom:0; left:0; right:0; margin:auto; width:500px; height:500px;}
	#person_image_container > div{position:absolute; width:100%; height:100%;}
.partners{position: relative; width: 960px; margin: 50px auto 0 auto;}
	.partner_container{position:absolute; top:0; left:0; width:100%; pointer-events: auto;}
		.partner_container.hidden{pointer-events:none;}
		.partner{float:left; margin:15px 25px; width:270px;}
			.partner img{border-radius:50%; border:10px solid transparent; transition:ease .15s all; width:100%;}
				.partner.selectedPartner img{border:10px solid #cc0066;}
				.partner_container[data-gender="female"] .partner.selectedPartner img{border:10px solid #9fdae1;}
.selected_persons_final{width:1480px; margin:150px auto 0 auto; position:relative;}
	.spf_view{float:left; width:50%; position:relative;}
		.spf_view .selected_list{width:300px;}
			.spf_view[data-no="1"] .selected_list{float:left;}
				.spf_view .selected_list span{font-size: 18px; float: left; position:relative; clear: left; width: 100%; border: 1px solid #1c252f; text-align: left; margin-bottom: 17px; padding: 14px 0 14px 26px; border-top-left-radius: 22px; border-bottom-left-radius: 22px; border-right: transparent;}
					.spf_view[data-no="1"] .selected_list span::after{content:""; width:35px; height:70%; float:right; position:absolute; border-right:1px solid #1c252f; border-top:1px solid #1c252f; top:7px; right:-18px; transform:rotate(45deg);}
					.spf_view[data-no="2"] .selected_list span::before{content: ""; width: 35px; height: 70%; float: right; position: absolute; border-right: 1px solid #1c252f; border-top: 1px solid #1c252f; top: 7px; left: -18px; transform: rotate(225deg);}
			.spf_view[data-no="2"] .selected_list{float:right;}
				.spf_view[data-no="2"] .selected_list span{border: 1px solid #1c252f; border-top-left-radius: 0px; border-bottom-left-radius: 0px; border-left:none; border-top-right-radius: 30px; border-bottom-right-radius: 30px;}
			.spf_view[data-no="1"] .selected_person_final_image{position: absolute; top: 0; right: 3%; width: 350px; height: 350px; bottom: 0; margin: auto;}
				.spf_view[data-no="1"] .selected_person_final_image > div{position:absolute; top:0; left:0; width:100%; height:100%;}
			#final_partner_image{position:absolute; top:0; left:3%; width:350px; height:350px; bottom:0; margin:auto;}
				#final_partner_image img{width:100%;}
#final_baby{width:1480px; margin:150px auto 0 auto; position:relative;}
	#final_baby .selected_list{width:300px;}
		#final_baby .selected_list span{font-size: 18px; float: left; position:relative; clear: left; width: 100%; border: 1px solid #1c252f; text-align: left; margin-bottom: 17px; padding: 14px 0 14px 26px; border-top-left-radius: 22px; border-bottom-left-radius: 22px; border-right: transparent;}
			#final_baby .selected_list span::after{content:""; width:35px; height:70%; float:right; position:absolute; border-right:1px solid #1c252f; border-top:1px solid #1c252f; top:7px; right:-18px; transform:rotate(45deg);}
	.final_baby_image{float: left; width: 500px; height: 500px; position: absolute; margin: auto; left: 0; right: 0; top: 20px;}
	#final_baby button{right: 0; position: absolute; margin-top: 14%; text-transform:uppercase;}
#siblings_container{width:1320px; margin:150px auto 0 auto; position:relative;}
	.sibling{float:left; width:350px; height:350px; margin:0 45px;}

	.choose_gender_images{width: 776px; height: 549px; position: relative; margin-left: 50%; transform:translate(-50%, 0); margin-top: 5%;}
		.choose_gender_images img.g1{position:absolute; bottom:0; left:0;}
		.choose_gender_images img.g2{position:absolute; top:0; right:0;}

	/* VIEW 1 */
	.view[data-view="1"] img{margin-top:120px;}

	/* VIEW 2 */
	.view[data-view="2"] h2{margin-bottom:125px;}
	.view[data-view="2"] .choose_image{margin-left:90px; margin-top:5%;}

	/* VIEW 13 */
	.view[data-view="13"] button{margin:0 10px;}

	/* VIEW 14 */
	.view[data-view="14"]{background-color:#332d71;}
		.view[data-view="14"] .home_btn{border:1px solid #fff;}
		.view[data-view="14"] h2{margin:110px 0 60px 0;}

	/* VIEW 16 */
	.view[data-view="16"] button{margin-top:100px; float: left; clear: left; margin-left: 50%; transform: translate(-50%, 0);}

	.making_baby_img{animation: swing ease-in-out 1s infinite alternate; transform-origin: center -20px;}

@keyframes swing {
	0% { transform: rotate(3deg); }
	100% { transform: rotate(-3deg); }
}